---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(10) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}Posts{% endif %}
</h1>

{% set postslist = collections.posts | head(-maxPosts) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

{% if maxPosts < collections.posts.length %}
  <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
{% endif %}