---
pagination:
  data: collections.all
  size: 20
  alias: entries
layout: layouts/home.njk
permalink: /page-list/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
---
<table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Page Title</th>
    </tr>
  </thead>
  <tbody>
    {%- for entry in entries %}
      <tr>
        <td>
          <a href="{{ entry.url }}">
            <code>{{ entry.url }}</code>
          </a>
        </td>
        <td>{{ entry.data.title }}</td>
      </tr>
    {%- endfor %}
  </tbody>
</table>