<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
    {% for post in postslist | reverse %}
        <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
            {% if post.data.draft %}<span class="postlist-draft-prefix">Draft:</span>{% endif %}
            <a href="{{ post.url | url }}" class="postlist-link">
                {% if post.data.title %}{{ post.data.title }}
                {% else %}
                    <code>{{ post.url }}</code>
                {% endif %}
            </a>
            <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
            {% if post.data.description %}
                <p class="postlist-description">{{ post.data.description }}</p>
            {% endif %}
        </li>
    {% endfor %}
</ol>