---
layout: layouts/base.njk
templateClass: "tmpl-post"
---
<h1>{{ title }}</h1>

{%- if draft %}
    <div class="infobox">
        <span>THIS POST IS A DRAFT. It is probably wrong and doesn't make sense.</span>
    </div>
    <div class="callout-draft"></div>
{%- endif %}

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>

{%- if last_updated and last_updated > page.date %}
    <span>/ Updated <time datetime="{{ last_updated | htmlDateString }}">{{ last_updated | readableDate }}</time>
    </span>
{%- endif %}

{%- for tag in tags | filterTagList %}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

{%- if collections.posts %}
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost %}
        <hr>
        <ul>
            {%- if nextPost %}
                <li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
                </li>
            {% endif %}
            {%- if previousPost %}
                <li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
                </li>
            {% endif %}
        </ul>
    {%- endif %}
{%- endif %}