@font-face {
    font-family: 'Hack';
    src: url('hack-bold-webfont.woff2') format('woff2'),
         url('hack-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hack';
    src: url('hack-bolditalic-webfont.woff2') format('woff2'),
         url('hack-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hack';
    src: url('hack-italic-webfont.woff2') format('woff2'),
         url('hack-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hack';
    src: url('hack-regular-webfont.woff2') format('woff2'),
         url('hack-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
